{% extends "homeBase.twig" %}
    {% block extracover %}
 <div class="input-group">
            0-{% verbatim %}{{(posts|filter:query).length}}{% endverbatim %} of {% verbatim %}{{(posts|filter:query).length}}{% endverbatim %} posts&nbsp;&nbsp;
            <button type="button" class="btn btn-default"><i class="fa fa-angle-left"></i>
            </button>
            <button type="button" class="btn btn-default"><i class="fa fa-angle-right"></i>
            </button>
        </div>
    {% endblock %}

{% block homeContent %}
<div ng-controller="PostListCtrl">  
{% if user.getLoginTimes() == 1 %}
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Welcome {{ user.getFirstName() }} {{ user.getLastName() }}, <br/>
        It is your first access, so you can create your own post and create your site too!<br/>
        <br/>
        Enjoy,<br/>
        Japode Team </div>
{% endif %}
    <div class="row">
        <div class="col-md-2">
            <div class="btn-group">
                {% if lastPostType is not null %}
                <a href="/post/editor/{{ lastPostType.getId() }}/" class="btn btn-danger">New {{ lastPostType.getTitle() }} </a> <a class="btn btn-danger" href="/post/select"><span class="glyphicon glyphicon-th"></span></a>
                {% endif %}
            </div>
            <ul class="nav nav-pills nav-stacked">
                       <li><a href="#">Home</a></li>
                       <li><a href="#">Starred <i class="glyphicon glyphicon-star"></i></a></li>
                       <li><a href="#">All Posts</a></li>
                       <li><a href="#">Trash <i class="glyphicon glyphicon-trash"></i></a></li>
                   </ul>
                   <ul class="nav nav-pills nav-stacked" ng-controller="LabelListCtrl">
                       <li class="nav-header">Tag</li>
                       <li ng-repeat="label in labels | filter:query | orderBy:orderProp"> <a href="#">{% verbatim %} {{label.title}} {% endverbatim %}</a></li>
                   </ul>
                 </div> 
                 <div class="col-md-10">
                     <ul class="nav nav-tabs" ng-controller="SiteListCtrl">
                         <li class="active">
                             <a href="#"><i class="fa fa-user fa-lg"></i> Only Me</a></li>
                         <li><a href="#"><i class="fa fa-users fa-lg"></i> Team</a></li>
                         <li ng-repeat="site in sites | filter:query | orderBy:orderProp"> <a href="#"><i class="fa fa-tags fa-lg"></i> {% verbatim %} {{site.name}} {% endverbatim %}</a></li>
                         <li><a href="/site/editor/"><i class="fa fa-plus fa-lg"></i></a></li>
                     </ul>
                     
                      
                     <table class="table table-hover" >
                         <tr ng-repeat="post in posts | filter:query">
                             <td><input type="checkbox"/></td>
                             <td><i class="icon-star-empty"></i></td>
                             <td><a href="/post/editor/{% verbatim %}{{post.posttypeidentifier}}{% endverbatim %}/{% verbatim %}{{post.id}}{% endverbatim %}/">{% verbatim %} {{post.content}} {% endverbatim %}</a></td>
                             <td><span class="label label-info">{% verbatim %} {{post.posttypename}} {% endverbatim %}</span>
                                 <span class="label label-warning">{% verbatim %} {{post.label}} {% endverbatim %}</span></td>
                             <td>{% verbatim %} {{post.description}} {% endverbatim %} </td>
                             <td>
                                 <span am-time-ago="post.date"></span>
                             </td>
                         </tr>
                     </table>
                 </div>
            </div>
        </div>
{% endblock %}