{% extends "postTypeModel.twig" %}
{% block content %}

<form id="formAttrib" name="formAttrib" method="post" action="/post/type/process/attributes/" role="form">
    <div class="form-group">
        <input type="text" id="title" name="title" class="form-control" placeholder="Post Type Title" value="{{ postType.getTitle() }}">
    </div>
    <div class="form-group">
        <textarea id="description" name="description" class="form-control" placeholder="About this Post Type">{{ postType.getDescription() }}</textarea>
    </div>
     <div class="form-group">
         <label>Identifier</label>
        <input type="text" id="name" name="name" class="form-control" placeholder="Identfier" value="{{ postType.getName() }}">
    </div>

    <input type="hidden" id="posttypeid" name="posttypeid" value="{{ id }}" />
    <table class="table table-hover table-striped">
        <thead><th></th><th>Many</th><th>Required</th><th>Label</th><th>Widget</th><th></th></thead>
        <tbody>
    {% for attrib in attribs %}
        {% include 'renderPostTypeAttrib.twig' %}
    {% endfor %}
        </tbody>
    </table>

    <div class="row" ng-controller="WidgetListCtrl">
        <div class="col-md-2" ng-repeat="widget in widgets | filter:query | orderBy:orderProp">
            <div class="well"><a href="/widget/add/{% verbatim %}{{widget.id}}{% endverbatim %}/{{ id }}">
                    <h4>{% verbatim %}{{widget.name}}{% endverbatim %}</h4>
                </a></div>         
        </div>
    </div>
    <div class="btn-group"> <button type="submit" class="btn btn-primary">Save changes</button> <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
            <li><a href="#"><i class="icon-plus-sign"></i> Duplicate</a></li>
        </ul>
    </div>
    <button type="button" class="btn btn-default">Cancel</button>
</form>    
{% endblock %}
